TINYURL_IMAGE=example.azurecr.io/tinyurl-linkd:latest
TINYURL_PUBLIC_URL=https://go.example.com
TINYURL_DATABASE_URL=postgres://tinyurl_admin:URL_ENCODED_PASSWORD@example.postgres.database.azure.com:5432/tinyurl?sslmode=require
AZURE_CONTAINER_REGISTRY=example
